<h2>{{title}}</h2>
<div class="question-edit">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Text') }">
            <label for="text">Question text:</label>
            <br />
            <textarea id="text"
                      formControlName="Text" required
                      placeholder="enter a suitable text..."
                      class="form-control"></textarea>
            <span *ngIf="hasError('Text')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Text')"
                 class="help-block">
                Text is a required field: please insert a valid title.
            </div>
        </div>
        <div class="commands">
            <input *ngIf="editMode" type="button"
                   value="Apply Changes"
                   (click)="onSubmit()"
                   class="btn btn-success" />
            <input *ngIf="!editMode" type="button"
                   value="Create the Question!"
                   (click)="onSubmit()"
                   class="btn btn-success" />
            <input type="button" value="Cancel"
                   (click)="onBack()"
                   class="btn btn-default" />
        </div>
    </form>
    <answer-list *ngIf="editMode" [question]="question"></answer-list>

</div>
